<img class="advert-icon-details" src="assets/images/image.png" alt="Advertisement"> 
        <div class="caption">
            <h5>Категорія: 
                <span class="category-details"><%= advert.category %></span>
            </h5>
            <h5>Назва: 
                <span class="name-details"><%= advert.name %></span>
            </h5>
            <h5>Опис: 
                <span class="description-details"><%= advert.description %></span>
            </h5>
            <h5>Місце: 
                <span class="address-details"><%= advert.address %></span>
            </h5>
            <h5>Дата: 
                <span class="date-details"><%= advert.date %></span>
            </h5>
            <h4 class="h4-details">Контактні дані</h4>
            <h5>Ім'я: 
                <span class="personName-details"><%= advert.personName %></span>
            </h5>
            <h5>Номер: 
                <span class="number-details"><%= advert.number %></span>
            </h5>
        </div>